<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="api_secret" value="xxxxxxxxxxxxx" />
      <add key="api_key" value="xxxxxxxxxxxxx" />
      <add key="mobnunber" value="xxxxxxxxxxxx" />
    </appSettings>
</configuration>